Library
Temp
CloudUnityProject/Test2018/ProjectSettings/TagManager.asset
CloudUnityProject/Test2018/ProjectSettings/QualitySettings.asset
CloudUnityProject/Test2018/ProjectSettings/ProjectVersion.txt
CloudUnityProject/Test2018/ProjectSettings/NetworkManager.asset
CloudUnityProject/Test2018/ProjectSettings/NavMeshAreas.asset
CloudUnityProject/Test2018/ProjectSettings/InputManager.asset
CloudUnityProject/Test2018/ProjectSettings/DynamicsManager.asset
CloudUnityProject/Test2018/ProjectSettings/ClusterInputManager.asset
CloudUnityProject/Test2018/Assets/Scenes/SampleScene.unity
CloudUnityProject/Test2018/Assets/Scenes.meta
CloudUnityProject/Test2018/ProjectSettings/ProjectSettings.asset
CloudUnityProject/Test2018/ProjectSettings/PresetManager.asset
CloudUnityProject/Test2018/ProjectSettings/Physics2DSettings.asset
CloudUnityProject/Test2018/ProjectSettings/GraphicsSettings.asset
CloudUnityProject/Test2018/Packages/manifest.json
CloudUnityProject/Test2018/Logs/Packages-Update.log
CloudUnityProject/Test2018/Assets/Scenes/SampleScene.unity.meta
CloudUnityProject/Test2018/ProjectSettings/VFXManager.asset
CloudUnityProject/Test2018/ProjectSettings/UnityConnectSettings.asset
CloudUnityProject/Test2018/ProjectSettings/TimeManager.asset
CloudUnityProject/Test2018/ProjectSettings/EditorSettings.asset
CloudUnityProject/Test2018/ProjectSettings/EditorBuildSettings.asset
CloudUnityProject/Test2018/ProjectSettings/AudioManager.asset
